@page "/organisation/basic-information"
@model BasicInformationModel

<a href="/organisation/supplier-type" class="govuk-back-link">
    Back
</a>

@{
    
}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <!-- <span class="govuk-heading-l govuk-!-margin-bottom-6" style="color: #1d70b8;"></span> -->

            <h2 class="govuk-heading-l">
                Manage 213's basic information [STUB]
            </h2>



            <form class="form" method="post">

                <dl class="govuk-summary-list">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Supplier type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Organisation
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="individual-or-org">
                                Change<span class="govuk-visually-hidden"> Change</span>
                            </a>
                        </dd>
                    </div>





                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Registered or principal office address
                        </dt>

                        <dd class="govuk-summary-list__value">
                            ewqe333 <br>
                            wqewqe333 <br>
                            wqewqe333 <br>
                            <br>
                            wqewqe333 <br>
                        </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="address-type">
                                Change<span class="govuk-visually-hidden"> Change</span>
                            </a>
                        </dd>
                    </div>












                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact postal address
                        </dt>
                        <dd class="govuk-summary-list__value">
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="is-the-address-same">
                                Add<span class="govuk-visually-hidden">Add</span>
                            </a>
                        </dd>
                    </div>









                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            VAT number
                        </dt>
                        <dt class="govuk-summary-list__value">

                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="vat-question">
                                Add<span class="govuk-visually-hidden">Add</span>
                            </a>
                        </dd>
                    </div>



                    <!-- Website -->



                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Website address
                        </dt>
                        <dt class="govuk-summary-list__value">
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="web-question">
                                Add<span class="govuk-visually-hidden"> Add</span>
                            </a>
                        </dd>
                    </div>



                    <!-- Email -->



                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address
                        </dt>
                        <dt class="govuk-summary-list__value">
                            c1@c1323.com
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="email-address">
                                Change<span class="govuk-visually-hidden"> Change</span>
                            </a>
                        </dd>
                    </div>



                    <!-- Qualifications section -->



                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Qualifications
                        </dt>
                        <dt class="govuk-summary-list__value">

                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="qualification-question">
                                Add<span class="govuk-visually-hidden">Add</span>
                            </a>
                        </dd>
                    </div>



                    <!-- Trades section -->



                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Trade assurances
                        </dt>
                        <dt class="govuk-summary-list__value">

                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="trade-question">
                                Add<span class="govuk-visually-hidden">Add</span>
                            </a>
                        </dd>
                    </div>



                    <!-- SME section -->





                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation type
                        </dt>
                        <dt class="govuk-summary-list__value">
                            Supplier
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="sme-question">
                                Change<span class="govuk-visually-hidden"> Change</span>
                            </a>
                        </dd>
                    </div>





                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Legal form
                        </dt>
                        <dt class="govuk-summary-list__value">
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="ca-question">
                                Add<span class="govuk-visually-hidden">Add</span>
                            </a>
                        </dd>
                    </div>


                    <!-- organisation -->
                </dl>

                <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" action="account-home">
                    Return to account home
                </button>

            </form>
            <!--
                <a href="account-home" class="govuk-link">Return to account home</a>
            -->
        </div>
    </div>
</main>