@model CO.CDP.UserManagement.App.Models.ChangeUserRoleSuccessViewModel
@{
    ViewData["Title"] = "Role change saved";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Role change saved</h1>
            <div class="govuk-panel__body">
                @Model.UserDisplayName's organisation role has been updated.
            </div>
        </div>

        <p class="govuk-body">The organisation role has been updated to <strong>@Model.NewRole</strong>.</p>
        <p class="govuk-body">This is what they can do:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@Model.RoleDescription</li>
        </ul>
        <p class="govuk-body">You can change this role at any time.</p>

        <p class="govuk-body">
            <a class="govuk-link" href="/organisation/@Model.OrganisationSlug">Return to dashboard</a>
        </p>
    </div>
</div>
