@{
    ViewData["Title"] = "User removed";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">User Removed</h1>
            <div class="govuk-panel__body">
                The user has been successfully removed
            </div>
        </div>

        <!-- Placeholder content - to be built out -->
        <p class="govuk-body">This page is a placeholder and will be built out with additional details.</p>
    </div>
</div>

