@model CO.CDP.OrganisationApp.Models.FormQuestion

<div class="govuk-form-group">
    <h1 class="govuk-heading-l">
        @Model.Title
    </h1>
    <p class="govuk-body">@Model.Description</p>    
    <input class="govuk-file-upload" id="@Model.Id" name="fileUpload" type="file">
</div>