@model FormElementTextInputModel

@{
    var hasError = ((TagBuilder)Html.ValidationMessageFor(m => m.TextInput)).HasInnerHtml;
}

<div class="govuk-form-group">
    <h1 class="govuk-heading-l">
        @Model.Heading
    </h1>

    <p class="govuk-hint">@Html.Raw(@Model.Description)</p>

    @if (hasError)
    {
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            @Html.ValidationMessageFor(m => m.TextInput)
        </p>
    }

    <input class="govuk-input govuk-!-width-two-thirds" name="TextInput" type="text">
</div>