@using CO.CDP.Localization
@model FormElementMultiQuestionModel

@{
    string GetSubmitButtonText() => !string.IsNullOrEmpty(Model.SubmitButtonTextResourceKey)
        ? FormsEngineResource.ResourceManager.GetString(Model.SubmitButtonTextResourceKey) ?? "Continue"
        : "Continue";

    var submitButtonText = GetSubmitButtonText();
}

@foreach (var questionItem in Model.GetRenderableQuestions())
{
    <div class="govuk-!-margin-bottom-6">

        @await Html.PartialAsync(questionItem.PartialViewName, questionItem.QuestionModel, ViewData)
    </div>
}

<govuk-button>@submitButtonText</govuk-button>