@model CO.CDP.OrganisationApp.Models.FormQuestion
@{
    var hasError = ViewData.ModelState["YesNoAnswer"]?.Errors?.Count > 0;
}

<div class="govuk-form-group @(hasError ? "govuk-form-group--error" : "")">
    <fieldset class="govuk-fieldset" aria-required="true">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">@Model.Title</h2>
        </legend>
        @if (hasError)
        {
            <p id="YesNoAnswer-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Please select an option.
            </p>
        }
        <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes" name="YesNoAnswer" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="yes">Yes</label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no" name="YesNoAnswer" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="no">No</label>
            </div>
        </div>
    </fieldset>
</div>