@model FormElementNameInputModel

@{
    var hasError = ((TagBuilder)Html.ValidationMessageFor(m => m.NameInput)).HasInnerHtml;
}

<div class="govuk-form-group">
    <span class="govuk-caption-l">Your declaration details</span>
    <h1 class="govuk-heading-l">
        @Model.Heading
    </h1>
    <div id="nameHint" class="govuk-hint">
        Your name as the person authorised to declare the supplier information.
    </div>

    @if (hasError)
    {
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            @Html.ValidationMessageFor(m => m.NameInput)
        </p>      
    }

    <input class="govuk-input govuk-!-width-two-thirds" name="NameInput" type="text">
</div>