@page "/forms/{formId:guid}/{sectionId:guid}"

@model CO.CDP.OrganisationApp.Pages.Forms.DynamicFormsPageModel
@inject CO.CDP.OrganisationApp.IFormsEngine FormsEngine

@{
    var sectionWithQuestions = Model.SectionWithQuestions;
}

<a href="/organisation/d972b5ab-6caf-4153-b5de-e856e3a4055f/supplier-information" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@ModelState" />
            <form method="post">
                <fieldset class="govuk-fieldset">
                    @foreach (var question in sectionWithQuestions.Questions)
                    {
                        var partialViewName = Model.GetPartialViewName(question.Type);
                        if (partialViewName != null)
                        {
                            @await Html.PartialAsync(partialViewName, question)
                        }
                        else
                        {
                            <p>Unsupported question type: @question.Type</p>
                        }
                    }
                </fieldset>


                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>
