@page "/organisation/{organisationId:guid}/forms/{formId:guid}/sections/{sectionId:guid}/{currentQuestionId:guid?}"
@model DynamicFormsPageModel

@{
    var backUrl = $"/organisation/{Model.OrganisationId}/supplier-information";

    if (Model.PreviousQuestionId.HasValue)
    {
        backUrl = $"/organisation/{Model.OrganisationId}/forms/{Model.FormId}/sections/{Model.SectionId}/{Model.PreviousQuestionId}";
    }
}

<a href="@backUrl" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@ModelState" />

            <form method="post" enctype="@Model.EncType">

                <fieldset class="govuk-fieldset">
                    @if (Model.PartialViewName != null && Model.PartialViewModel != null)
                    {
                        @await Html.PartialAsync(Model.PartialViewName, Model.PartialViewModel)
                    }
                </fieldset>

                @if (!Model.IsCheckYourAnswers)
                {
                    <button type="submit" class="govuk-button">Continue</button>
                } else {
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Save
                    </button>
                }
            </form>
        </div>
    </div>
</main>