**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/.npm
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/OpenAPI
LICENSE
README.md

Services/CO.CDP.RegisterOfCommercialTools.WebApi/
Services/CO.CDP.RegisterOfCommercialTools.WebApi.Tests/
Frontend/CO.CDP.RegisterOfCommercialTools.App/
Frontend/CO.CDP.RegisterOfCommercialTools.App.Tests/
Libraries/CO.CDP.RegisterOfCommercialTools.WebApiClient/
Libraries/CO.CDP.RegisterOfCommercialTools.WebApiClient.Tests/