
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = false
indent_style = space
indent_size = 4

[{*.har,*.jsb2,*.jsb3,*.json,*.jsonc,*.postman_collection,*.postman_environment,.babelrc,.eslintrc,.prettierrc,.stylelintrc,bowerrc,jest.config}]
indent_size = 2

# noinspection EditorConfigKeyCorrectness
[*.cs]
# IDE0161: Convert to file-scoped namespace
csharp_style_namespace_declarations = file_scoped:warning
