services:
  db:
    extends:
      file: compose.common.yml
      service: db
    environment:
      POSTGRES_DB: cdp
      POSTGRES_USER: cdp_user
      POSTGRES_PASSWORD: cdp123
  organisation-information-migrations:
    extends:
      file: compose.common.yml
      service: organisation-information-migrations
    depends_on:
      db:
        condition: service_healthy
    environment:
      MIGRATIONS_CONNECTION_STRING: "Server=db;Database=cdp;Username=cdp_user;Password=cdp123;"
  organisation-app:
    extends:
      file: compose.common.yml
      service: organisation-app
    environment:
      TenantService: '${TenantService:-http://tenant:8080}'
      OrganisationService: '${OrganisationService:-http://organisation:8080}'
      PersonService: '${PersonService:-http://person:8080}'
  tenant:
    extends:
      file: compose.common.yml
      service: tenant
    depends_on:
      - db
    environment:
      ConnectionStrings__OrganisationInformationDatabase: 'Server=db;Database=cdp;Username=cdp_user;Password=cdp123;'
  organisation:
    extends:
      file: compose.common.yml
      service: organisation
    depends_on:
      - db
    environment:
      ConnectionStrings__OrganisationInformationDatabase: 'Server=db;Database=cdp;Username=cdp_user;Password=cdp123;'
  person:
    extends:
      file: compose.common.yml
      service: person
    depends_on:
      - db
    environment:
      ConnectionStrings__OrganisationInformationDatabase: 'Server=db;Database=cdp;Username=cdp_user;Password=cdp123;'
  forms:
    extends:
      file: compose.common.yml
      service: forms
    depends_on:
      - db
  data-sharing:
    extends:
      file: compose.common.yml
      service: data-sharing
    depends_on:
      - db
