services:
  db:
    extends:
      file: compose.common.yml
      service: db
    environment:
      POSTGRES_DB: cdp
      POSTGRES_USER: cdp_user
      POSTGRES_PASSWORD: cdp123
  organisation-app:
    extends:
      file: compose.common.yml
      service: organisation-app
  tenant:
    extends:
      file: compose.common.yml
      service: tenant
    links:
      - db:db
    depends_on:
      - db
  tenant-migrations:
    extends:
      file: compose.common.yml
      service: tenant-migrations
    links:
      - db:db
    depends_on:
      db:
        condition: service_healthy
    environment:
      MIGRATIONS_CONNECTION_STRING: "Server=db;Database=cdp;Username=cdp_user;Password=cdp123;"
  organisation-migrations:
    extends:
      file: compose.common.yml
      service: organisation-migrations
    links:
      - db:db
    depends_on:
      db:
        condition: service_healthy
    environment:
      MIGRATIONS_CONNECTION_STRING: "Server=db;Database=cdp;Username=cdp_user;Password=cdp123;"
  organisation:
    extends:
      file: compose.common.yml
      service: organisation
    links:
      - db:db
    depends_on:
      - db
  person:
    extends:
      file: compose.common.yml
      service: person
    links:
      - db:db
    depends_on:
      - db
  forms:
    extends:
      file: compose.common.yml
      service: forms
    links:
      - db:db
    depends_on:
      - db
  data-sharing:
    extends:
      file: compose.common.yml
      service: data-sharing
    links:
      - db:db
    depends_on:
      - db
