@page "/confirmation-message"

@using CO.CDP.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = @StaticTextResource.Supplementary_Title;
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-margin-top-8 govuk-!-margin-bottom-8">
                <h1 class="govuk-heading-xl">
                    @ViewData["Title"]
                </h1>
            </div>

            <p class="govuk-body"><a href="#" onclick="self.close()">@StaticTextResource.Supplementary_CloseThisWindow</a></p>

        </div>
    </div>