@page "/cookies/details"
@model CO.CDP.OrganisationApp.Pages.CookieDetailsModel

@{
    ViewData["Title"] = "Details about cookies on Find a Tender";
}

<main class="govuk-main-wrapper" id="main-content">
    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    <p class="govuk-body">Find a Tender puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site. Find out more about the cookies we use, what they’re for and when they expire.</p>

    <h2 class="govuk-heading-m">Cookies that measure website use</h2>
    <p class="govuk-body">We use Google Analytics software (Universal Analytics) to collect anonymised information about how you use Find a Tender. We do this to help make sure the site is meeting the needs of its users and to help us make improvements to the site.</p>
    <p class="govuk-body">We do not allow Google to use or share the data about how you use this site.</p>
    <p class="govuk-body">Google Analytics stores information about:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>how you got to the site</li>
        <li>the pages you visit on GOV.UK and how long you spend on them</li>
        <li>what you click on while you’re visiting the site</li>
        <li>Google Analytics sets the following cookies.</li>
    </ul>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Purpose</th>
                <th scope="col" class="govuk-table__header">Expires</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">_ga</th>
                <td class="govuk-table__cell">This cookie is used with Google Universal Analytics. This cookie allows Google to track unique users via a client identifier that is randomly generated</td>
                <td class="govuk-table__cell">2 years</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">_gat</th>
                <td class="govuk-table__cell">This cookie is used with Google Universal Analytics. This cookie is used to monitor and track visitors’ behaviour on the site anonymously</td>
                <td class="govuk-table__cell">10 minutes</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">_gid</th>
                <td class="govuk-table__cell">This cookie is used with Google Universal Analytics. This cookie is used to group the user behaviour</td>
                <td class="govuk-table__cell">24 hours</td>
            </tr>
        </tbody>
    </table>

    <h2 class="govuk-heading-m">Strictly necessary cookies</h2>

    <h3 class="govuk-heading-s">Keeping you signed in</h3>
    <p class="govuk-body">When you sign in to the service, we’ll set cookies to keep you signed in as you use the site. These cookies do not store your personal data and are deleted when you close your browser.</p>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Purpose</th>
                <th scope="col" class="govuk-table__header">Expires</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">.AspNetCore.Antiforgery.*</th>
                <td class="govuk-table__cell">This cookie keeps the service secure, preventing cross-site forgery requests.</td>
                <td class="govuk-table__cell">When you close your browser</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">.AspNetCore.Cookies</th>
                <td class="govuk-table__cell">Stores details of the currently authenticated user.</td>
                <td class="govuk-table__cell">When you close your browser</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">.AspNetCore.CookiesC1</th>
                <td class="govuk-table__cell">Stores details of the currently authenticated user.</td>
                <td class="govuk-table__cell">When you close your browser</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">.AspNetCore.CookiesC2</th>
                <td class="govuk-table__cell">Stores details of the currently authenticated user.</td>
                <td class="govuk-table__cell">When you close your browser</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">.AspNetCore.Session</th>
                <td class="govuk-table__cell">Stores details of the currently authenticated user.</td>
                <td class="govuk-table__cell">When you close your browser</td>
            </tr>
        </tbody>
    </table>

    <h3 class="govuk-heading-s">Banner messages and preferences</h3>

    <p class="govuk-body">You may see banners when you visit Find a Tender inviting you to select your cookie preferences. We’ll set cookies so that your computer knows you’ve seen such messages and not to show them again, and also to store your settings.</p>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Purpose</th>
                <th scope="col" class="govuk-table__header">Expires</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">.AspNetCore.Culture</th>
                <td class="govuk-table__cell">Stores the currently selected language requirement.</td>
                <td class="govuk-table__cell">1 year</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">SIRSI_COOKIES_PREFERENCES_SET</th>
                <td class="govuk-table__cell">Stores the cookies accept / reject preference.</td>
                <td class="govuk-table__cell">1 year</td>
            </tr>
        </tbody>
    </table>

    <h2 class="govuk-heading-m">Change your settings</h2>
    <p class="govuk-body">You can <a href="/cookies">change which cookies you're happy for us to use</a>.</p>
</main>