@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">Central Digital Platform</h1>

    <h2 class="govuk-heading-l">Sign in to the supplier information register</h2>

    <form method="post">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Register
        </button>
    </form>
</main>