@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">Central Digital Platform</h1>

    <h2 class="govuk-heading-l">Sign in to the supplier information register</h2>

    <p class="govuk-body">
        To use the service to register your information, you will first need to
        <a class="govuk-link govuk-link--no-visited-state" href="/one-login/sign-in">create GOV.UK One Login or sign in.</a>
    </p>
</main>