@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-body">

            <h1 class="govuk-heading-l">
                <span class="govuk-label--l">Register your details as a buyer or supplier of procurements</span>
            </h1>

            <p>The Central Digital Platform (CPD) service is for both procurement professionals and suppliers in the UK's public and utilities sectors.</p>

            <p>Use the service if you are:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>a contracting authority working in procurement who buys goods, works, and services, supplies them, or both</li>
                <li>an organisation or sole trader who applies for contracts to supply goods, works, and services</li>
            </ul>

            <p>You will first <a class="govuk-link govuk-link--no-visited-state" href="/one-login/sign-in">create GOV.UK One Login or sign in.</a></p>

            <h2 class="govuk-heading-m">
                If your organisation is already registered
            </h2>


            <p>You can <a class="govuk-link govuk-link--no-visited-state" href="/one-login/sign-in">sign in to your account.</a></p>
        </div>
    </div>
</main>