@page "/page-not-found"
@model PageNotFoundModel

@using CO.CDP.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = StaticTextResource.Supplementary_PageNotFound_Title;
}

<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
            <p class="govuk-body">
                @StaticTextResource.Supplementary_PageNotFound_TypedAddress
            </p>
            <p class="govuk-body">
                @StaticTextResource.Supplementary_PageNotFound_PastedAddress
            </p>
        </div>
    </div>
</main>
