@page "/privacy-notice"
@model PrivacyNoticeModel
@{
    ViewData["Title"] = "Privacy notice - GOV.UK";
}

<main class="govuk-main-wrapper" id="main-content">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <h1 class="govuk-heading-xl">Privacy notice: how we use your data</h1>
            <p class="govuk-body">GOV.UK Digital Service Platform is provided by <a href="https://www.gov.uk/government/organisations/government-digital-service" class="govuk-link">Government Digital Service</a> (GDS), which is part of the Cabinet Office. The data controller for GDS is the Cabinet Office. A data controller determines how and why personal data can be processed.</p>
            <p class="govuk-body">Read the <a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053" class="govuk-link">Cabinet Office’s entry in the Data Protection Public Register</a> for more information.</p>

        </div>
    </div>
</main>