@page "/registration/{id}/join-organisation/success"
@model JoinOrganisationSuccessModel
@using CO.CDP.Localization

@{    
    ViewData["Title"] = GetTitle();
    
    string GetTitle()
    {
        return string.Format(StaticTextResource.OrganisationRegistration_JoinOrganisationSuccess_Heading, Model.OrganisationName);
    }
}

@section BeforeContent {
    <a href="/organisation-selection" class="govuk-back-link">
        @StaticTextResource.Global_Back
    </a>
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                @ViewData["Title"]
            </h1>

        <p class="govuk-body">@StaticTextResource.OrganisationRegistration_JoinOrganisationSuccess_Message</p>
        <p class="govuk-body">
            <a class="govuk-link" href="/organisation-selection">@StaticTextResource.Global_GoBackToMyAccount</a>
        </p>
        </div>
    </div>
