@page "/registration/organisation-account"
@model OrganisationAccountModel

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Organisation Account
            </h1>
        </div>
    </div>
</main>