@page "/registration/organisation-details-summary"
@using CO.CDP.OrganisationApp.Constants
@model CO.CDP.OrganisationApp.Pages.Registration.OrganisationDetailsSummaryModel

<a href="/registration/organisation-registered-address" class="govuk-back-link">
    Back
</a>

@{
    var details = Model.RegistrationDetails;
}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    @if (!string.IsNullOrWhiteSpace(Model.Error))
                    {
                        <div class="govuk-error-summary" data-module="govuk-error-summary">
                            <div role="alert">
                                <h2 class="govuk-error-summary__title">
                                    There is a problem, please retry
                                </h2>
                                <div class="govuk-error-summary__body">
                                    <ul class="govuk-list govuk-error-summary__list">
                                        <li><a href="#">@(Model.Error)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <h1 class="govuk-heading-l">
                        <span class="govuk-label--l">Overview</span>
                    </h1>

                    <h2 class="govuk-heading-m">Organisation details</h2>
                </legend>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @details?.OrganisationName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/organisation-name?frm-summary">Change<span class="govuk-visually-hidden"> organisation name</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @details?.OrganisationScheme.SchemeDescription()
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/has-companies-house-number?frm-summary">
                                Change<span class="govuk-visually-hidden"> organisation type</span>
                            </a>
                        </dd>
                    </div>
                    @if (details?.OrganisationScheme != "Other")
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @details?.OrganisationIdentificationNumber
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/registration/has-companies-house-number?frm-summary">
                                    Change<span class="govuk-visually-hidden"> organisation identification number</span>
                                </a>
                            </dd>
                        </div>
                    }
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @details?.OrganisationEmailAddress
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/organisation-email?frm-summary">Change<span class="govuk-visually-hidden"> email address</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@details?.OrganisationAddressLine1</p>
                            @if (!string.IsNullOrWhiteSpace(details?.OrganisationAddressLine2))
                            {
                                <p class="govuk-body">@details?.OrganisationAddressLine2</p>
                            }
                            <p class="govuk-body">@details?.OrganisationCityOrTown</p>
                            @if (!string.IsNullOrWhiteSpace(details?.OrganisationRegion))
                            {
                                <p class="govuk-body">@details?.OrganisationRegion</p>
                            }
                            <p class="govuk-body">@details?.OrganisationPostcode</p>
                            <p class="govuk-body">@details?.OrganisationCountry</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link"
                               href="/registration/@(details?.OrganisationCountry == "United Kingdom" ? "organisation-registered-address" : "organisation-non-uk-address")?frm-summary">
                                Change<span class="govuk-visually-hidden"> organisation address</span>
                            </a>
                        </dd>
                    </div>
                </dl>
            </fieldset>
            <form method="post">
                <button type="submit"
                        class="govuk-button"
                        data-module="govuk-button">
                    Submit
                </button>
            </form>
        </div>
    </div>
</main>