@page "/registration/organisation-type"
@model CO.CDP.OrganisationApp.Pages.Registration.OrganisationTypeModel

<a href="/registration/your-details" class="govuk-back-link">
    Back
</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Supplier Registration
            </h1>
             <form method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Is your organisation a supplier, buyer or both?
                            </h1>
                        </legend>
                        <div id="supplier-hint" class="govuk-hint">
                            Select all that apply.
                        </div>
                        @if (Model.HasError)
                        {
                            <p id="supplier-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Select if you are a Supplier, Buyer or Both
                            </p>
                        }
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="supplier" name="supplierType" type="checkbox" value="supplier" />
                                <label class="govuk-label govuk-checkboxes__label" for="supplier">
                                    Supplier
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="buyer" name="supplierType" type="checkbox" value="buyer" />
                                <label class="govuk-label govuk-checkboxes__label" for="buyer">
                                    Buyer
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            
            </form>
        </div>
    </div>
</main>