@page "/registration/organisation-registration-unavailable"

@model OrganisationRegistrationUnavailable

@{
    ViewData["Title"] = "Sorry, there is a problem with the service";
    var backLink = RegistrationStepModel.OrganisationIdentifierPage;
    var overrideBackLink = Request.Query.ContainsKey("backLink");

    if (overrideBackLink)
    {
        backLink = Request.Query["backLink"];
    }
}

<a href="@backLink" class="govuk-back-link">
    Back
</a>

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                @ViewData["Title"]
            </h1>

            <p class="govuk-body">
                Please try again later.
            </p>

        </div>
    </div>
</main>