@page "/registration/organisation-details-summary"
@model CO.CDP.OrganisationApp.Pages.Registration.OrganisationDetailsSummaryModel

<a href="/registration/organisation-registered-address" class="govuk-back-link">
    Back
</a>

@{
    var registrationDetails = Model.Details;
}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    @if (!string.IsNullOrWhiteSpace(Model.Error))
                    {
                        <div class="govuk-error-summary" data-module="govuk-error-summary">
                            <div role="alert">
                                <h2 class="govuk-error-summary__title">
                                    There is a problem, please retry
                                </h2>
                                <div class="govuk-error-summary__body">
                                    <ul class="govuk-list govuk-error-summary__list">
                                        <li><a href="#">@(Model.Error)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <h1 class="govuk-heading-l">
                        <span class="govuk-label--l">Overview</span>
                    </h1>

                    <h2 class="govuk-heading-m">Organisation details</h2>
                </legend>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            First name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @registrationDetails?.FirstName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/your-details?frm-summary">Change<span class="govuk-visually-hidden"> first name</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Last name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @registrationDetails?.LastName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/your-details?frm-summary">Change<span class="govuk-visually-hidden"> last name</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @registrationDetails?.OrganisationName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/organisation-details?frm-summary">Change<span class="govuk-visually-hidden"> organisation name</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @registrationDetails?.OrganisationScheme
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/organisation-identification?frm-summary">Change<span class="govuk-visually-hidden"> organisation type</span></a>
                        </dd>
                    </div>
                    @if (@registrationDetails?.OrganisationScheme != "Other")
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @registrationDetails?.OrganisationIdentificationNumber
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/registration/organisation-identification?frm-summary">Change<span class="govuk-visually-hidden"> organisation identification number</span></a>
                            </dd>
                        </div>
                    }
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @registrationDetails?.OrganisationEmailAddress
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/organisation-details?frm-summary">Change<span class="govuk-visually-hidden"> email address</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@registrationDetails?.OrganisationAddressLine1</p>
                            <p class="govuk-body">@registrationDetails?.OrganisationAddressLine2</p>
                            <p class="govuk-body">@registrationDetails?.OrganisationCityOrTown</p>
                            <p class="govuk-body">@registrationDetails?.OrganisationPostcode</p>
                            <p class="govuk-body">@registrationDetails?.OrganisationCountry</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/organisation-registered-address?frm-summary">Change<span class="govuk-visually-hidden"> organisation address</span></a>
                        </dd>
                    </div>
                </dl>
            </fieldset>
            <form method="post">
                <button type="submit"
                        class="govuk-button"
                        data-module="govuk-button">
                    Submit
                </button>
            </form>
        </div>
    </div>
</main>