@page "/registration/organisation-registration-unavailable"

@model OrganisationRegistrationUnavailable

<a href="@RegistrationStepModel.OrganisationIdentifierPage" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@ModelState" />

            <form method="post">
                <h1 class="govuk-heading-l">
                    <span class="govuk-label--l">Service Unavailable</span>
                </h1>

                <p class="govuk-body">
                    Please try again later.
                </p>

            </form>
        </div>
    </div>
</main>