@page "/registration/organisation-registered-address/{UkOrNonUk}"
@model CO.CDP.OrganisationApp.Pages.Registration.OrganisationRegisteredAddressModel

@{
    var backLink = RegistrationStepModel.OrganisationEmailPage;
    var fromSummaryPage = Request.Query.ContainsKey("frm-summary");
    if (fromSummaryPage) Model.RedirectToSummary = true;

    if (Model.Address.IsNonUkAddress)
    {
        backLink = $"/registration/organisation-registered-address/uk{(fromSummaryPage ? "?frm-summary" : "")}";
    }
    else if (fromSummaryPage)
    {
        backLink = RegistrationStepModel.OrganisationSummaryPage;
    }
}

<a href="@backLink" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@ModelState" />

            <form method="post">

                @if (Request.Query.ContainsKey("frm-summary"))
                {
                    <input type="hidden" name="RedirectToSummary" value="true" />
                }

                <partial name="_Address" model="@Model.Address" />
            </form>
        </div>
    </div>
</main>