@page "/registration/organisation-already-registered/{Identifier}"

@model OrganisationAlreadyRegistered

@{
    ViewData["Title"] = "This organisation has already registered";
    var backLink = RegistrationStepModel.OrganisationIdentifierPage;
    var overrideBackLink = Request.Query.ContainsKey("backLink");

    if (overrideBackLink)
    {
        backLink = Request.Query["backLink"];
    }
}

<a href="@backLink" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                @ViewData["Title"]
            </h1>

            <p class="govuk-body">
                The organisation's details are already registered with the service.
            </p>

            <p class="govuk-body">
                If you know the person who registered the organisation, they can invite you to join. Or you can request to join below.
            </p>

            <a class="govuk-button" href="/registration/@Model.Identifier/join-organisation">
                Request to Join
            </a>
        </div>
    </div>
</main>