@page "/registration/organisation-details-summary"
@model CO.CDP.OrganisationApp.Pages.Registration.OrganisationDetailsSummaryModel

<a href="/registration/organisation-registered-address" class="govuk-back-link">
    Back
</a>

@{
    var registrationDetails = Model.RegistrationDetailModel;
}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-heading-l">
                        <span class="govuk-label--l">Overview</span>
                    </h1>

                    <h2 class="govuk-heading-m">Organisation details</h2>
                </legend>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            First name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @registrationDetails?.FirstName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/your-details">Change<span class="govuk-visually-hidden"> first name</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Last name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @registrationDetails?.LastName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/your-details">Change<span class="govuk-visually-hidden"> last name</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email Address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @registrationDetails?.Email
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/your-details">Change<span class="govuk-visually-hidden"> email Address</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @registrationDetails?.OrganisationName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/organisation-details">Change<span class="govuk-visually-hidden"> organisation name</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @registrationDetails?.OrganisationType
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/organisation-details">Change<span class="govuk-visually-hidden"> organisation type</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @registrationDetails?.OrganisationIdentificationNumber
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/organisation-identification">Change<span class="govuk-visually-hidden"> organisation identification number</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @registrationDetails?.OrganisationEmailAddress
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/organisation-details">Change<span class="govuk-visually-hidden"> email address</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@registrationDetails?.OrganisationAddressLine1</p>
                            <p class="govuk-body">@registrationDetails?.OrganisationAddressLine2</p>
                            <p class="govuk-body">@registrationDetails?.OrganisationCityOrTown</p>
                            <p class="govuk-body">@registrationDetails?.OrganisationPostcode</p>
                            <p class="govuk-body">@registrationDetails?.OrganisationCountry</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/registration/organisation-registered-address">Change<span class="govuk-visually-hidden"> organisation address</span></a>
                        </dd>
                    </div>
                </dl>
            </fieldset>

            <button type="submit"
                    class="govuk-button"
                    data-module="govuk-button">
                Submit
            </button>
        </div>
    </div>
</main>