@inject ITempDataService tempDataService
@using CDP.OrganisationApp.Constants
@using CDP.OrganisationApp.Models

@if (tempDataService.Peek<FlashMessage>(FlashMessageTypes.Success) != null)
{
    <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-top-8" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
            </h2>
        </div>
        @{
            FlashMessage message = tempDataService.Get<FlashMessage>(FlashMessageTypes.Success)!;
        }
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">@Html.Raw(message.Heading)</p>

            @if (message.Description != null)
            {
                <p>@Html.Raw(message.Description)</p>
            }
        </div>
    </div>
}

@if (tempDataService.Peek<FlashMessage>(FlashMessageTypes.Important) != null)
{
    <div class="govuk-notification-banner govuk-!-margin-top-8" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        @{
            FlashMessage message = tempDataService.Get<FlashMessage>(FlashMessageTypes.Important)!;
        }
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">@Html.Raw(message.Heading)</p>

            @if (message.Description != null)
            {
                <p>@Html.Raw(message.Description)</p>
            }
        </div>
    </div>
}