@using System.Globalization

@* Adapted from https://design.tax.service.gov.uk/hmrc-design-patterns/welsh-language-toggle/ *@

@{
    string returnUrl = Context.Request.PathBase + Context.Request.Path + Context.Request.QueryString;
}

@if (CultureInfo.CurrentUICulture.Name == "cy")
{
    <nav class="app-language-select govuk-body-s" aria-label="Switcher iaith">
        <ul class="app-language-select__list">
            <li class="app-language-select__list-item govuk-header__navigation-item">
                <a asp-page="/ChangeLanguage" asp-route-culture="en" asp-route-returnUrl="@returnUrl" hreflang="en" lang="en" rel="alternate" class="govuk-header__link">
                    <span class="govuk-visually-hidden">Change the language to English</span>
                    <span aria-hidden="true">English</span>
                </a>
            </li>
            <li class="app-language-select__list-item govuk-header__navigation-item">
                <span aria-current="true">Cymraeg</span>
            </li>
        </ul>
    </nav>
}
else
{
    <nav class="app-language-select govuk-body-s" aria-label="Language switcher">
        <ul class="app-language-select__list">
            <li class="app-language-select__list-item govuk-header__navigation-item">
                <span aria-current="true">English</span>
            </li>
            <li class="app-language-select__list-item govuk-header__navigation-item">
                <a asp-page="/ChangeLanguage" asp-route-culture="cy" asp-route-returnUrl="@returnUrl" hreflang="cy" lang="cy" rel="alternate" class="govuk-header__link">
                    <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
                    <span aria-hidden="true">Cymraeg</span>
                </a>
            </li>
        </ul>
    </nav>
}         