@page "/organisation/{id}/forms/{id}/share-code-information"
@model CO.CDP.OrganisationApp.Pages.ShareInformation.ShareCodeConfirmationModel
@{
}
<main class="govuk-main-wrapper" id="main-content">


    <div class="govuk-grid-column-ful-width">


        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Share code created
            </h1>
            <div class="govuk-panel__body">
                Your share code<br><strong>HDJ2123F</strong>
            </div>

            <form class="form govuk-!-margin-top-7" method="post">


            </form>
        </div>
        <p class="govuk-body">You can save your share code and <a href="#">download your supplier information file</a> or come back and get them when needed.</p>
        <p class="govuk-body">If your supplier information changes, you can update it and create a new share code and file to share the new information.</p>
        <p><a href="../org-dashboard">Back to organisation details</a></p>
       

    </div>
</main>
