@page "/organisation/{organisationId:guid}/forms/{formId:guid}/sections/{sectionId:guid}/share-code-confirmation"
@model ShareCodeConfirmationModel
@{
    var backUrl = $"/organisation/{Model.OrganisationId}/forms/{Model.FormId}/sections/{Model.SectionId}/share-codes-list-view";
}

<a href="@backUrl" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-column-ful-width">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Share code created
            </h1>
            <div class="govuk-panel__body">
                Your share code<br><strong>@Model.ShareCode</strong>
            </div>
        </div>
        <p class="govuk-body">You can save your share code and <a href="#">download your supplier information file</a> or come back and get them when needed.</p>
        <p class="govuk-body">If your supplier information changes, you can update it and create a new share code and file to share the new information.</p>
        <p class="govuk-body"><a href="/organisation/@Model.OrganisationId/supplier-information">Back to organisation details</a></p>
    </div>
</main>