.supplier-info-header {
    background-color: #1d70b8;
    margin-top: -10px;
    padding-top: 50px;
}

    .supplier-info-header .govuk-width-container {
        display: flex;
    }

    .supplier-info-header .govuk-heading-xl {
        color: #fff;
    }

.govuk-phase-banner__content__tag {
    background-color: #1d70b8;
    color: #fff;
    text-transform: uppercase;
}

/**
 * Custom header layout to allow for language switcher
*/
@media screen and (min-width: 768px) {
    .app-header-layout {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

/**
 * Language switcher, adapted from hmrc-frontend to roughly match FTS
 */
.app-language-select {
    margin: 0;
    float: right;
}

.app-language-select__list {
    float: right;
    margin: 0;
}

.app-language-select__list-item {
    display: inline-block;
    margin-right: 0;
    border-bottom: 0;
}

    .app-language-select__list-item:first-child::after {
        content: "";
        display: inline-block;
        position: relative;
        top: 0.1875em;
        height: 1em;
        border-right: 0.09375em solid #b1b4b6;
    }

    .app-language-select__list-item a,
    .app-language-select__list-item [aria-current] {
        padding: 0.3125em;
    }

    .app-language-select__list-item [aria-current] {
        color: #b1b4b6;
        font-weight: 700;
    }