[
  {
    "name" : "${name}",
    "image" : "${image}:${service_version}",
    "cpu": ${cpu},
    "memory": ${memory},
    "portMappings": [],
    "logConfiguration": {
      "logDriver" : "awslogs",
      "options": {
        "awslogs-group" : "${lg_name}",
        "awslogs-region" : "${lg_region}",
        "awslogs-stream-prefix" : "${lg_prefix}"
      }
    },
    "environment": [
      { "name" : "TEAMS_NOTIFICATION_ENABLED", "value" : "${teams_notification_enabled}"},
      { "name" : "CLOUDWATCH_METRICS_ENABLED", "value" : "${cloudwatch_metrics_enabled}"}
    ],
    "secrets": [
      { "name" : "E2E_EMAIL", "valueFrom" : "${e2e_env_secret_arn}:E2E_EMAIL::"},
      { "name" : "E2E_PASSWORD", "valueFrom" : "${e2e_env_secret_arn}:E2E_PASSWORD::"},
      { "name" : "E2E_SECRET_KEY", "valueFrom" : "${e2e_env_secret_arn}:E2E_SECRET_KEY::"},
      { "name" : "E2E_BASIC_AUTH_USERNAME", "valueFrom" : "${fts_secrets_arn}:HTTP_BASIC_AUTH_USER::"},
      { "name" : "E2E_BASIC_AUTH_PASSWORD", "valueFrom" : "${fts_secrets_arn}:HTTP_BASIC_AUTH_PASS::"},
      { "name" : "E2E_COGNITO_USERNAME", "valueFrom" : "${e2e_env_secret_arn}:E2E_COGNITO_USERNAME::"},
      { "name" : "E2E_COGNITO_PASSWORD", "valueFrom" : "${e2e_env_secret_arn}:E2E_COGNITO_PASSWORD::"},
      { "name" : "TEAMS_WEBHOOK_URL", "valueFrom" : "${e2e_env_secret_arn}:TEAMS_WEBHOOK_URL::"}
    ],
    "volumesFrom": [],
    "mountPoints": [],
    "essential": true
  }
]
