@page "/organisation/{id}/supplier-information/address-type-question"

@model CO.CDP.OrganisationApp.Pages.Supplier.AddressTypeQuestionModel

@{
    var principalAddressHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.HasUkPrincipalAddress)).HasInnerHtml;
}

<a href="/organisation/@RouteData.Values["id"]/supplier-information/basic-information" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />
            <h1 class="govuk-heading-l">Is your registered or principal office address in the UK?</h1>
            <span>The address of the company or organisation which is recorded on public records or within the public domain.</span>
            <form method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="YES" name="HasCompaniesHouseNumber" type="radio"
                                       value="true" data-aria-controls="conditional-YES" @(Model.HasUkPrincipalAddress == true ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="YES">Yes</label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="NO" name="HasCompaniesHouseNumber" type="radio"
                                       value="false" data-aria-controls="conditional-NO" @(Model.HasUkPrincipalAddress == false ? "checked" : "")>
                                <label class="govuk-label govuk-radios__label" for="NO">No</label>
                                <div class="govuk-radios__conditional--hidden" id="conditional-NO"></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
            </form>
        </div>
    </div>
</main>