@page "/organisation/{id}/supplier-information/supplier-qualification-awarding-Body"
@model CO.CDP.OrganisationApp.Pages.Supplier.SupplierQualificationAwardingBodyModel
@{
    var personOrAwardingBodyHasError = ((TagBuilder)Html.ValidationMessageFor(m => m.PersonOrAwardingBody)).HasInnerHtml;
}
<a href="/organisation/@Model.Id/supplier-information/basic-information" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@Model.ModelState" />
            <h1 class="govuk-heading-l">Enter the name of the person or body which awarded the qualification</h1>
            <div id="hint" class="govuk-hint">For example, Royal Institution of Chartered Surveyors (RICS).</div>
            <form class="form" method="post">
           
                <div class="govuk-form-group @(personOrAwardingBodyHasError ? "govuk-form-group--error" : "")">
                    <input class="govuk-input govuk-!-width-two-thirds @(personOrAwardingBodyHasError ? "govuk-form-group--error" : "")"
                           id="awardingBody" name="awardingBody" spellcheck="false" autocomplete="false" aria-describedby="awarding-body-hint"
                           value="@(!string.IsNullOrEmpty(Model.PersonOrAwardingBody) ? Model.PersonOrAwardingBody : "")">
                </div>
                
                <button class="govuk-button govuk-!-margin-top-4" type="submit">Save and continue</button>
            </form>
        </div>
    </div>
</main>