@page "/organisation/{id}/supplier-information/qualification-check-answer"
@model CO.CDP.OrganisationApp.Pages.Supplier.SupplierQualificationCheckAnswerModel


<a href="/organisation/@Model.Id/supplier-information/qualification-awarded-date" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <form class="form" method="post">

                <span class="govuk-caption-l">Qualification:</span>
                <h1 class="govuk-heading-l">Check your answers</h1>
                <dl class="govuk-summary-list govuk-!-margin-bottom-3">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Awarded by person or body
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Qualification!.AwardedByPersonOrBodyName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/qualification-body">
                                Change<span class="govuk-visually-hidden">
                                    the Qualification awarding body
                                </span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date awarded
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Qualification!.DateAwarded!.Value.ToString("dd/MM/yyyy")
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/qualification-awarded-date">
                                Change<span class="govuk-visually-hidden">
                                    Date awarded
                                </span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Qualification name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Qualification!.Name
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/organisation/@Model.Id/supplier-information/qualification-reference">
                                Change<span class="govuk-visually-hidden">
                                    the qualification name
                                </span>
                            </a>
                        </dd>
                    </div>
                  
                </dl>

                <div class="govuk-button-group govuk-!-margin-top-9">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>