@model CO.CDP.UserManagement.App.Models.DiagnosticViewModel
@{
    ViewData["Title"] = "Diagnostic page";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
        <p class="govuk-body">
            This page shows the current configuration state for key connected services.
        </p>

        <dl class="govuk-summary-list">
            @foreach (var service in Model.Services)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">@service.Name</dt>
                    <dd class="govuk-summary-list__value">
                        @if (service.IsConfigured)
                        {
                            <strong class="govuk-tag govuk-tag--green">Configured</strong>
                            <div class="govuk-!-margin-top-2">
                                <code>@service.Url</code>
                            </div>
                        }
                        else
                        {
                            <strong class="govuk-tag govuk-tag--red">Not configured</strong>
                        }
                    </dd>
                </div>
            }
        </dl>
    </div>
</div>
