@using CO.CDP.RegisterOfCommercialTools.WebApiClient.Models
@model List<CpvCodeDto>

<div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title">Selected (@Model.Count)</h3>
    <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
            <a href="#" class="govuk-link" id="browse-cpv-codes">Edit</a>
        </li>
    </ul>
</div>
<div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
        @foreach (var selectedItem in Model.OrderBy(x => x.GetDescription()))
        {
            <div class="govuk-summary-list__row" data-code="@selectedItem.Code">
                <dt class="govuk-summary-list__key govuk-!-width-full">
                    @selectedItem.GetDescription()
                </dt>
            </div>
        }
    </dl>
</div>
