@using CO.CDP.RegisterOfCommercialTools.App.Models
@using CO.CDP.RegisterOfCommercialTools.WebApiClient.Models
@model HierarchicalCodeSelectionViewModel<NutsCodeDto>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="govuk-error-message" role="alert">
        <span class="govuk-visually-hidden">Error: </span>@Model.ErrorMessage
    </div>
}
else if (Model.IsLoading)
{
    <div class="govuk-body">Loading location subcategories...</div>
}
else
{
    @foreach (var item in Model.RootCodes)
    {
        @await Html.PartialAsync("_LocationTreeNode", new LocationTreeNodeViewModel { Item = item, Level = 1, SelectedCodes = Model.SelectedCodes })
    }
}