@using CO.CDP.RegisterOfCommercialTools.WebApiClient.Models
@model List<NutsCodeDto>

<p class="govuk-body-s govuk-!-font-weight-bold">Selected (@Model.Count):</p>
<div class="govuk-!-margin-top-2">
    @foreach (var selectedItem in Model.OrderBy(x => x.GetDescription()))
    {
        var parentDescription = selectedItem.GetParentDescription();

        <div class="govuk-tag govuk-tag--grey govuk-!-margin-right-1 govuk-!-margin-bottom-1 location-filter-tag"
             data-code="@selectedItem.Code">
            <div>@selectedItem.GetDescription()</div>
            @if (!string.IsNullOrEmpty(parentDescription))
            {
                <div class="govuk-hint govuk-!-font-size-14 location-parent-info">
                    @parentDescription
                </div>
            }
        </div>
    }
</div>
