@page "/supplier-registration/organisation-type"

<a href="/supplier-registration/your-details" class="govuk-back-link">
    Back
</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Supplier Registration
            </h1>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Are you a supplier, buyer, or both?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="supplier" name="supplier-type" type="radio" value="supplier" />
                            <label class="govuk-label govuk-radios__label" for="supplier">
                                Supplier
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="buyer" name="supplier-type" type="radio" value="buyer" />
                            <label class="govuk-label govuk-radios__label" for="buyer">
                                Buyer
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="both" name="supplier-type" type="radio" value="both" />
                            <label class="govuk-label govuk-radios__label" for="both">
                                Both
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <a href="/supplier-registration/organisation-details">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
            </a>
        </div>
    </div>
</main>