@page "/organisation/{id}/buyer-parent-child-relationship/results"
@model CO.CDP.OrganisationApp.Pages.BuyerParentChildRelationship.ChildOrganisationResultsPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>

</div>
</body>
</html>