@page
@model CO.CDP.OrganisationApp.Pages.BuyerParentChildRelationship.ChildOrganisationConfirmPage
@using CO.CDP.Localization

@{
    ViewData["Title"] = StaticTextResource.BuyerParentChildRelationship_ConfirmPage_Title;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

            </div>
        </div>
    </main>
</div>
</body>
</html>