@page "/organisation/{id}/users/check-answers"
@using CO.CDP.OrganisationApp.Constants

@model CO.CDP.OrganisationApp.Pages.Users.UserCheckAnswersModel

@{
    var scopes = Model.PersonInviteStateData?.Scopes ?? new List<string>();
    var filteredScopes = scopes.Where(scope => !string.Equals(scope, OrganisationPersonScopes.Responder));
    var scopesCsvString = string.Join(", ", filteredScopes);
}

<a href="/organisation/@Model.Id/users/add-user" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <partial name="_ErrorSummary" model="@Model.ModelState" />
            <form class="form" method="post">

                <h1 class="govuk-heading-l">Check your answers</h1>
                <dl class="govuk-summary-list govuk-!-margin-bottom-3">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            First name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.PersonInviteStateData?.FirstName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/organisation/@Model.Id/users/add-user?frm-chk-answer">
                                Change
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Last name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.PersonInviteStateData?.LastName
                        </dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.PersonInviteStateData?.Email
                        </dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            User role
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @scopesCsvString
                        </dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                </dl>

                <govuk-button class="govuk-!-margin-top-9">Send email</govuk-button>
            </form>
        </div>
    </div>
</main>