@page "/organisation/{organisationId:guid}/forms/{formId:guid}/sections/{sectionId:guid}/add-exclusion-declaration"
@model AddExclusionDeclarationModel

<a href="/organisation/@Model.OrganisationId/supplier-information" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="main-content">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Add any mandatory and discretionary exclusions</h1>

            <p class="govuk-body">
                You must tell us if there are any circumstances that may exclude you as a supplier from the procurement process because your organisation or a connected person committed an offence.
            </p>
            <p class="govuk-body">
                Offences are listed as 'mandatory exclusion grounds' and 'discretionary exclusion grounds' in the Procurement Act 2023.
            </p>
            <div class="govuk-inset-text">
                If any exclusions apply to a person with significant control, such as a director or majority shareholder, make sure you have added them as a
                <a href="/organisation/@Model.OrganisationId/supplier-information/connected-person/declaration">connected person</a>.
            </div>
            <p class="govuk-body">
                You'll need to provide details about each exclusion, such as where it happened and who it applies to and upload any supporting documents you may have.
            </p>

            <!-- Penalties Details -->
            <h2 class="govuk-heading-m">Mandatory exclusions</h2>
            <p class="govuk-body">Penalties and other events that may exclude you are:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>adjustments for tax arrangements that are abusive </li>
                <li>competition law infringements </li>
                <li>defeat in respect of notifiable tax arrangements </li>
                <li>failure to cooperate with an investigation</li>
                <li>finding by HMRC, in exercise of its powers in respect of VAT, of abusive practice  </li>
                <li>penalties for transactions connected with VAT fraud and evasion of tax or duty  </li>
                <li>penalties payable for errors in tax documentation and failure to notify, and certain VAT and excise wrongdoing   </li>
            </ul>
            <p></p>

            <!-- Convictions -->
            <!--<h2 class="govuk-heading-m">Convictions</h2>-->
            <p class="govuk-body">Convictions that may exclude you are: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>ancillary offences - aiding, abetting, encouraging or assisting crime </li>
                <li>cartel offences </li>
                <li>corporate manslaughter or homicide </li>
                <li>labour market, slavery and human trafficking offences</li>
                <li>organised crime </li>
                <li>tax offences </li>
                <li>terrorism and offences having a terrorist connection  </li>
                <li>theft, fraud and bribery </li>
            </ul>
            <p></p>

            <p class="govuk-body">
                These exclusions are defined in
                <a href="https://www.legislation.gov.uk/ukpga/2023/54/schedule/6" target="_blank">schedule 6 of the Procurement Act 2023 (opens in new tab)</a>.
            </p>
            <!-- Court Rulings -->
            <h2 class="govuk-heading-m">Discretionary exclusions </h2>
            <p class="govuk-body">Discretionary exclusions that may exclude you are:  </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>acting improperly in procurement </li>
                <li>breach of contract and poor performance  </li>
                <li>environmental misconduct</li>
                <li>infringement of Competition Act 1998, under Chapter II prohibition </li>
                <li>insolvency or bankruptcy </li>
                <li>labour market misconduct </li>
                <li>potential competition and competition law infringements </li>
                <li>professional misconduct  </li>
                <li>suspension or ceasing to carry on all or a substantial part of a business  </li>
            </ul>
            <p></p>

            <div id="court-rulings-body" class="govuk-body">
                These exclusions are defined in
                <a href="https://www.legislation.gov.uk/ukpga/2023/54/schedule/7" target="_blank">schedule 7 of the Procurement Act 2023 (opens in new tab)</a>.
            </div>

            <a class="govuk-button govuk-!-margin-top-5" role="button" data-module="govuk-button"
               href="/organisation/@Model.OrganisationId/forms/@Model.FormId/sections/@Model.SectionId">Continue</a>
        </div>
    </div>
</main>