@page "/one-login/{action}"
@model CO.CDP.OrganisationApp.Pages.Registration.OneLogin

<p>
    <strong>User Id:</strong> @Model.UserId
</p>


<p>
    <strong>Email:</strong> @Model.Email
</p>


<p>
    <strong>Phone:</strong> @Model.Phone
</p>