@model CO.CDP.UserManagement.App.Models.ChangeApplicationRolesSuccessViewModel
@{
    ViewData["Title"] = "Application access changes saved";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Changes saved</h1>
            <div class="govuk-panel__body">
                Changes for @Model.UserDisplayName have been saved.
            </div>
        </div>

        <p class="govuk-body govuk-!-margin-top-6">Their access has been updated for the services shown below.</p>

        @foreach (var app in Model.ChangedApplications)
        {
            <p class="govuk-body"><strong>@app.ApplicationName</strong></p>
            @if (app.IsNewAssignment)
            {
                <p class="govuk-body">Access has been granted with role <strong class="govuk-tag govuk-tag--purple">@app.NewRoleName</strong></p>
            }
            else
            {
                <p class="govuk-body">Role has been updated to <strong class="govuk-tag govuk-tag--purple">@app.NewRoleName</strong></p>
            }
        }

        <p class="govuk-body govuk-!-margin-top-4">
            <a href="/organisation/@Model.OrganisationId" class="govuk-link">Return to dashboard</a>
        </p>

    </div>
</div>
