<div class="govuk-!-margin-top-0">
    <p class="govuk-body-s govuk-!-padding-left-2">The common procurement vocabulary (CPV) is used to classify contracts
        in a standardised way</p>

    <div class="accordion-highlight govuk-!-padding-2 govuk-!-margin-left-2 govuk-!-margin-right-4">
        <a href="#" class="govuk-link">Browse CPV codes</a>
    </div>
</div>