@page "/search"
@model CO.CDP.RegisterOfCommercialTools.App.Pages.Search.IndexModel
@{
    ViewData["Title"] = "Search";
}

<govuk-breadcrumbs>
    <govuk-breadcrumbs-item href="/">Home</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item href="/">Search results</govuk-breadcrumbs-item>
</govuk-breadcrumbs>

<govuk-inset-text>The Register of Commercial Tools allows you to search for frameworks and dynamic markets.</govuk-inset-text>

<div>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Search Results</h1>
    <p class="govuk-body-m">We've found <span class="govuk-!-font-weight-bold">54</span> results</p>
</div>