@page "/search"
@using CO.CDP.RegisterOfCommercialTools.App.Models
@model CO.CDP.RegisterOfCommercialTools.App.Pages.Search.IndexModel
@{
    ViewData["Title"] = "Search";
    var commercialToolAccordion = new Accordion
    {
        Id = "commercial-tool",
        Title = "Commercial tool",
        Content = @<partial name="_CommercialToolAccordionContent" />
    };
    var commercialToolStatusAccordion = new Accordion
    {
        Id = "commercial-tool-status",
        Title = "Commercial tool status",
        Content = @<partial name="_CommercialToolStatusAccordionContent" />
    };
    var contractingAuthorityUsageAccordion = new Accordion
    {
        Id = "contracting-authority-usage",
        Title = "Contracting authority usage",
        Content = @<partial name="_ContractingAuthorityUsageAccordionContent" />
    };
    var awardMethodAccordion = new Accordion
    {
        Id = "award-method",
        Title = "Award method",
        Content = @<partial name="_AwardMethodAccordionContent" />
    };
    var feesAccordion = new Accordion
    {
        Id = "fees",
        Title = "Fees",
        Content = @<partial name="_FeesAccordionContent" />
    };
    var dateRangeAccordion = new Accordion
    {
        Id = "date-range",
        Title = "Date range",
        Content = @<partial name="_DateRangeAccordionContent" />
    };
}

<script src="/js/search.js"></script>

<govuk-breadcrumbs>
    <govuk-breadcrumbs-item href="/">Home</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item href="/">Search results</govuk-breadcrumbs-item>
</govuk-breadcrumbs>

<div class="govuk-width-container">
    <govuk-inset-text>The Register of Commercial Tools allows you to search for frameworks and dynamic markets.
    </govuk-inset-text>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Search Results</h1>
            <p class="govuk-body-m">We've found <span class="govuk-!-font-weight-bold">54</span> results</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <govuk-select id="sort-results" name="sortOrder">
                <govuk-select-label class="govuk-!-font-weight-bold">Sort results</govuk-select-label>
                <govuk-select-item value="relevance" selected="true">Relevance</govuk-select-item>
                <govuk-select-item value="a-z">Alphabetical (A-Z)</govuk-select-item>
                <govuk-select-item value="z-a">Alphabetical (Z-A)</govuk-select-item>
            </govuk-select>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <form method="post" id="search-form">
                <div class="govuk-template govuk-!-padding-3">
                    <h2 class="govuk-heading-m">Keywords</h2>

                    <p class="govuk-body-s">
                        Search titles, descriptions, identifiers and organisation names
                    </p>

                    <details class="govuk-details small-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text govuk-!-font-size-16">
                                Help with keyword search
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <ul class="govuk-list govuk-list--bullet govuk-body-s">
                                <li>
                                    To search for any word, put a space between words.
                                    For example, radio televisions
                                </li>
                                <li>
                                    To search for all words, put a + between words.
                                    For example, administration + defence
                                </li>
                                <li>
                                    To search for an exact phrase, use quotes.
                                    For example, "market research"
                                </li>
                            </ul>
                        </div>
                    </details>

                    <input id="Keywords" name="SearchParams.Keywords" type="text" class="govuk-input">
                </div>

                <div class="govuk-template govuk-!-margin-top-4 govuk-!-padding-0">
                    <partial name="_Accordion" model="commercialToolAccordion" />
                    <partial name ="_Accordion" model="commercialToolStatusAccordion" />
                    <partial name ="_Accordion" model="contractingAuthorityUsageAccordion" />
                    <partial name ="_Accordion" model="awardMethodAccordion" />
                    <partial name ="_Accordion" model="feesAccordion" />
                    <partial name ="_Accordion" model="dateRangeAccordion" />
                </div>

                <div class="govuk-button-group govuk-!-margin-top-4">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Update results
                    </button>
                    <button type="submit" asp-page-handler="Reset" class="govuk-button govuk-button--secondary"
                            data-module="govuk-button">
                        Reset
                    </button>
                    <button type="submit" asp-page-handler="Save" class="govuk-button govuk-button--secondary"
                            data-module="govuk-button">
                        Save search
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>