@page "/organisation/{id}/supplier-information/connected-person/{addressType}-address/{UkOrNonUk}/{ConnectedEntityId?}"
@using CO.CDP.OrganisationApp.Pages.Shared
@model CO.CDP.OrganisationApp.Pages.Supplier.ConnectedEntityAddressModel

@{
    var backLink = "";

    if (Model.Address.IsNonUkAddress)
    {
        backLink = $"/organisation/{Model.Id}/supplier-information/connected-person/{Model.AddressType.ToString().ToLower()}-address/uk/{Model.ConnectedEntityId}";
        if (Model.RedirectToCheckYourAnswer == true)
        {
            backLink += "?frm-chk-answer=true";
        }
    }
    else
    {
        if (Model.RedirectToCheckYourAnswer == true)
        {
            var InduvOrOrg = "check-answers-organisation";

            if (Model.ConnectedEntityType != Constants.ConnectedEntityType.Organisation)
            {
                InduvOrOrg = "check-answer-individual-trust";
            }

            backLink = $"/organisation/{Model.Id}/supplier-information/connected-person/{InduvOrOrg}/{Model.ConnectedEntityId}";
        }
        else if (Model.AddressType == Constants.AddressType.Postal)
        {
            backLink = $"/organisation/{Model.Id}/supplier-information/connected-person/postal-address-same-as-registered/{Model.ConnectedEntityId}";
        }
        else
        {
            backLink = $"/organisation/{Model.Id}/supplier-information/connected-person/{Model.BackPageName}/{Model.ConnectedEntityId}";
        }
    }
}

<a href="@backLink" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@ModelState" />

            <span class="govuk-caption-l">@Model.Caption</span>

            <form method="post">
                <partial name="_Address" model="@Model.Address" />
            </form>
        </div>
    </div>
</main>