@page "/organisation/{id}/supplier-information/connected-person/{addressType}-address/{UkOrNonUk}/{ConnectedEntityId?}"
@using CO.CDP.OrganisationApp.Pages.Shared
@model CO.CDP.OrganisationApp.Pages.Supplier.ConnectedEntityAddressModel

@if (Model.Address.IsNonUkAddress)
{
    <a href="/organisation/@Model.Id/supplier-information/connected-person/@Model.AddressType.ToString().ToLower()-address/uk" class="govuk-back-link">Back</a>
}
else if (Model.AddressType == Constants.AddressType.Postal) // TODO 4: add another if for different indivisual/trust category
{
    <a href="/organisation/@Model.Id/supplier-information/postal-address-same-as-registered" class="govuk-back-link">Back</a>
}
else
{
    <a href="/organisation/@Model.Id/supplier-information/connected-person/organisation-name" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" model="@ModelState" />

            <span class="govuk-caption-l">@Model.Caption</span>

            <form method="post">
                <partial name="_Address" model="@Model.Address" />
            </form>
        </div>
    </div>
</main>