@page "/organisation/{id:guid}/buyer"
@model CO.CDP.OrganisationApp.Pages.Buyer.BuyerView
@using CO.CDP.Localization

@{
    ViewData["Title"] = StaticTextResource.BuyerView_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-blue-banner">

        <h1 class="govuk-heading-xl">@StaticTextResource.BuyerView_Heading</h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    @StaticTextResource.BuyerView_Body
                </p>
            </div>
        </div>

    </div>
</div>

<div class="govuk-grid-row">
    @foreach (var tile in Model.Tiles)
    {
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
            <partial name="Shared/_Tile" model="tile"/>
        </div>
    }
</div>
