@model CO.CDP.RegisterOfCommercialTools.App.Models.SearchModel
<div class="govuk-!-margin-top-0">
    <div class="govuk-form-group accordion-highlight govuk-!-padding-2 govuk-!-margin-left-2 govuk-!-margin-right-4">
        <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="award-method-with-competition" name="award" type="checkbox" value="with-competition" checked="@(Model.AwardMethod.Contains("with-competition"))">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-14" for="award-method-with-competition">
                        With competition
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="award-method-without-competition" name="award" type="checkbox" value="without-competition" checked="@(Model.AwardMethod.Contains("without-competition"))">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-14" for="award-method-without-competition">
                        Without competition
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
</div>
