@model CO.CDP.RegisterOfCommercialTools.App.Models.SearchModel

<div class="govuk-!-margin-top-0">
    <p class="govuk-body-s govuk-!-padding-left-2">Search for commercial tools being established, modified or terminated</p>
    <details class="govuk-details govuk-!-margin-left-4 govuk-!-margin-right-4 govuk-!-padding-left-0" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text govuk-!-font-size-14">Definitions</span>
        </summary>
        <div class="govuk-details__text govuk-!-padding-bottom-1">
            <p class="govuk-body-s govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Framework</span></p>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                <li>a type of contract that allows the award of future contracts</li>
                <li>only suppliers who are part of the framework can bid for these future contracts</li>
            </ul>
            <p class="govuk-body-s govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Dynamic market</span></p>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                <li>a flexible arrangement where suppliers can join if they meet specific membership conditions</li>
                <li>only members of the market can bid for future contracts</li>
                <li>future contracts must be advertised through tender notices</li>
                <li>new suppliers can join at any time during the market's duration</li>
            </ul>
            <p class="govuk-body-s govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Utilities dynamic framework</span></p>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                <li>a dynamic market that can only be used by utility organisations to award utilities contracts</li>
                <li>tender notices can optionally be provided only to members of the market</li>
            </ul>
        </div>
    </details>
    <details class="govuk-details accordion-highlight govuk-!-padding-2 govuk-!-margin-left-2 govuk-!-margin-right-4"
             data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text govuk-!-font-size-14">Procurement Act 2023</span>
        </summary>
        <div class="govuk-details__text govuk-!-padding-0 no-border">
            <div class="govuk-form-group govuk-!-margin-bottom-0">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-!-font-size-16">
                        Frameworks
                    </legend>
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="framework-open-only" name="framework"
                                   type="radio"
                                   value="open" @(Model.FrameworkOptions == "open" ? "checked" : null)>
                            <label class="govuk-label govuk-radios__label govuk-!-font-size-14" for="framework-open-only">
                                Open frameworks only
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="framework-exclude-open" name="framework"
                                   type="radio"
                                   value="exclude-open" @(Model.FrameworkOptions == "exclude-open" ? "checked" : null)>
                            <label class="govuk-label govuk-radios__label govuk-!-font-size-14" for="framework-exclude-open">
                                Exclude open frameworks
                            </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-!-font-size-16">
                        Dynamic Markets
                    </legend>
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="dynamic-market-utilities-only"
                                   name="market" type="radio"
                                   value="utilities-only" @(Model.DynamicMarketOptions == "utilities-only" ? "checked" : null)>
                            <label class="govuk-label govuk-radios__label govuk-!-font-size-14" for="dynamic-market-utilities-only">
                                Utilities dynamic markets only
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="dynamic-market-exclude-utilities"
                                   name="market" type="radio"
                                   value="exclude-utilities" @(Model.DynamicMarketOptions == "exclude-utilities" ? "checked" : null)>
                            <label class="govuk-label govuk-radios__label govuk-!-font-size-14" for="dynamic-market-exclude-utilities">
                                Excludes Utilities dynamic markets
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </details>
</div>
