@model CO.CDP.RegisterOfCommercialTools.App.Pages.Search.SearchModel

<div class="govuk-!-margin-top-0">
    <div class="govuk-form-group accordion-highlight govuk-!-padding-2 govuk-!-margin-left-2 govuk-!-margin-right-4">
        <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="status-upcoming" asp-for="Status" type="checkbox" value="upcoming">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-14" for="status-upcoming">
                        Upcoming
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="status-active-buyers" asp-for="Status" type="checkbox" value="active-buyers">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-14" for="status-active-buyers">
                        Active available to buyers
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="status-active-suppliers" asp-for="Status" type="checkbox" value="active-suppliers">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-14" for="status-active-suppliers">
                        Active accepting suppliers
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="status-expired" asp-for="Status" type="checkbox" value="expired">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-14" for="status-expired">
                        Expired
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
</div>
