<div class="govuk-!-margin-top-0 govuk-!-padding-left-4">
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Definitions</span>
        </summary>
        <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
                <li class="govuk-body-s">
                    <span class="govuk-!-font-weight-bold">Framework</span> - A contract
                    that allows the award of future
                    contracts, which will be advertised only to suppliers on the
                    framework.
                </li>
                <li class="govuk-body-s">
                    <span class="govuk-!-font-weight-bold">Dynamic market</span> -
                    Arrangements that suppliers who meet the conditions for
                    membership can join, which allow them to bid for future contracts
                    restricted to
                    members of the market. Future contracts must be advertised in tender
                    notices.
                    New suppliers can join at any time during the term of the market.
                </li>
                <li class="govuk-body-s">
                    <span class="govuk-!-font-weight-bold">Utilities dynamic market</span>
                    - A dynamic market that can only be used by utility
                    organisations to award utilities contracts. Tender notices may
                    optionally be
                    provided only to members of the market (Not included in the DM/DPS
                    filter option).
                </li>
            </ul>
        </div>
    </details>
</div>

