<div class="govuk-!-margin-top-0">
    <p class="govuk-body-s govuk-!-padding-left-2">Commercial tools which were active or expired within a date range
        (searches submission deadline, contract start/end date, open framework end date and start/end date of the
        DM)</p>

    <details class="govuk-details accordion-highlight govuk-!-padding-2 govuk-!-margin-left-2 govuk-!-margin-right-4"
             data-module="govuk-details">
        <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text govuk-!-font-size-14">
                    Submission deadline
                </span>
        </summary>
        <div class="govuk-details__text govuk-!-padding-0 no-border">
            <div class="govuk-form-group govuk-!-margin-bottom-0">
                <fieldset class="govuk-fieldset govuk-!-margin-bottom-4" role="group" aria-describedby="submission-deadline-from-hint">
                    <legend class="govuk-fieldset__legend govuk-!-font-size-16">
                        From
                    </legend>
                    <div id="submission-deadline-from-hint"
                         class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-2">
                        For example, 25 05 2025
                    </div>
                    <div class="govuk-date-input" id="submission-deadline-from">
                        <div class="govuk-date-input__item govuk-!-margin-right-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="submission-deadline-from-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="submission-deadline-from-day" name="SubmissionDeadlineFrom.Day" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item govuk-!-margin-right-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="submission-deadline-from-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="submission-deadline-from-month" name="SubmissionDeadlineFrom.Month"
                                       type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="submission-deadline-from-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                       id="submission-deadline-from-year" name="SubmissionDeadlineFrom.Year" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="govuk-fieldset" role="group" aria-describedby="submission-deadline-to-hint">
                    <legend class="govuk-fieldset__legend govuk-!-font-size-16 govuk-!-margin-bottom-2">
                        To
                    </legend>
                    <div class="govuk-date-input" id="submission-deadline-to">
                        <div class="govuk-date-input__item govuk-!-margin-right-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="submission-deadline-to-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="submission-deadline-to-day" name="SubmissionDeadlineTo.Day" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item govuk-!-margin-right-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="submission-deadline-to-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="submission-deadline-to-month" name="SubmissionDeadlineTo.Month" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="submission-deadline-to-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                       id="submission-deadline-to-year" name="SubmissionDeadlineTo.Year" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </details>

    <details class="govuk-details accordion-highlight govuk-!-padding-2 govuk-!-margin-left-2 govuk-!-margin-right-4"
             data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text govuk-!-font-size-14">
                Contract start date
            </span>
        </summary>
        <div class="govuk-details__text govuk-!-padding-0 no-border">
            <div class="govuk-form-group govuk-!-margin-bottom-0">
                <fieldset class="govuk-fieldset govuk-!-margin-bottom-4" role="group" aria-describedby="contract-start-date-from-hint">
                    <legend class="govuk-fieldset__legend govuk-!-font-size-16">
                        From
                    </legend>
                    <div id="contract-start-date-from-hint"
                         class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-2">
                        For example, 25 05 2025
                    </div>
                    <div class="govuk-date-input" id="contract-start-date-from">
                        <div class="govuk-date-input__item govuk-!-margin-right-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="contract-start-date-from-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="contract-start-date-from-day" name="ContractStartDateFrom.Day" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item govuk-!-margin-right-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="contract-start-date-from-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="contract-start-date-from-month" name="ContractStartDateFrom.Month"
                                       type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="contract-start-date-from-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                       id="contract-start-date-from-year" name="ContractStartDateFrom.Year" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="govuk-fieldset" role="group" aria-describedby="contract-start-date-to-hint">
                    <legend class="govuk-fieldset__legend govuk-!-font-size-16 govuk-!-margin-bottom-2">
                        To
                    </legend>
                    <div class="govuk-date-input" id="contract-start-date-to">
                        <div class="govuk-date-input__item govuk-!-margin-right-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="contract-start-date-to-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="contract-start-date-to-day" name="ContractStartDateTo.Day" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item govuk-!-margin-right-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="contract-start-date-to-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="contract-start-date-to-month" name="ContractStartDateTo.Month" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="contract-start-date-to-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                       id="contract-start-date-to-year" name="ContractStartDateTo.Year" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </details>

    <details class="govuk-details accordion-highlight govuk-!-padding-2 govuk-!-margin-left-2 govuk-!-margin-right-4"
             data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text govuk-!-font-size-14">
                Contract end date
            </span>
        </summary>
        <div class="govuk-details__text govuk-!-padding-0 no-border">
            <div class="govuk-form-group govuk-!-margin-bottom-0">
                <fieldset class="govuk-fieldset govuk-!-margin-bottom-4" role="group" aria-describedby="contract-end-date-from-hint">
                    <legend class="govuk-fieldset__legend govuk-!-font-size-16">
                        From
                    </legend>
                    <div id="contract-end-date-from-hint"
                         class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-2">
                        For example, 25 05 2025
                    </div>
                    <div class="govuk-date-input" id="contract-end-date-from">
                        <div class="govuk-date-input__item govuk-!-margin-right-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="contract-end-date-from-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="contract-end-date-from-day" name="ContractEndDateFrom.Day" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item govuk-!-margin-right-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="contract-end-date-from-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="contract-end-date-from-month" name="ContractEndDateFrom.Month"
                                       type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="contract-end-date-from-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                       id="contract-end-date-from-year" name="ContractEndDateFrom.Year" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="govuk-fieldset" role="group" aria-describedby="contract-end-date-to-hint">
                    <legend class="govuk-fieldset__legend govuk-!-font-size-16 govuk-!-margin-bottom-2">
                        To
                    </legend>
                    <div class="govuk-date-input" id="contract-end-date-to">
                        <div class="govuk-date-input__item govuk-!-margin-right-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="contract-end-date-to-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="contract-end-date-to-day" name="ContractEndDateTo.Day" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item govuk-!-margin-right-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="contract-end-date-to-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="contract-end-date-to-month" name="ContractEndDateTo.Month" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16"
                                       for="contract-end-date-to-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                       id="contract-end-date-to-year" name="ContractEndDateTo.Year" type="text"
                                       inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </details>
</div>
