<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CO.CDP.RegisterOfCommercialTools.App</title>
    <govuk-head />
</head>
<body class="govuk-template__body">
    <govuk-skip-link />
    <govuk-header>
        <govuk-header-service-name href="/">Register of Commercial Tools</govuk-header-service-name>
    </govuk-header>

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>

    <govuk-footer>
    </govuk-footer>

    <govuk-body-end />
</body>
</html>
