name: Build

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Tests
    strategy:
      matrix:
        dotnet-version: [ '8.0.x' ]

    steps:
      - uses: actions/checkout@v4
      - name: Setup dotnet ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget
      - name: Build
        run: make build OpenAPI
      - name: Test
        run: make test TEST_OPTIONS="--logger trx --results-directory 'TestResults-${{ matrix.dotnet-version }}'"
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results-dotnet-${{ matrix.dotnet-version }}
          path: TestResults-${{ matrix.dotnet-version }}
        if: ${{ always() }}
      - name: Upload OpenAPI contracts
        uses: actions/upload-artifact@v4
        with:
          name: OpenAPI
          path: OpenAPI

  docker:
    runs-on: ubuntu-latest
    name: Build containers
    env:
      CDP_ORGANISATION_APP_PORT: 8888
      CDP_TENANT_PORT: 8811
      CDP_ORGANISATION_PORT: 8822
      CDP_PERSON_PORT: 8833
      CDP_FORMS_PORT: 8844
      CDP_DATA_SHARING_PORT: 8855
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker Images
        run: make build-docker
      - name: Start services
        run: make up
      - name: Stop services
        run: make down
      - name: Save Docker Image
        run: |
          docker save -o cdp-organisation-information-migrations.tar cabinetoffice/cdp-organisation-information-migrations
          docker save -o cdp-data-sharing.tar cabinetoffice/cdp-data-sharing
          docker save -o cdp-forms.tar cabinetoffice/cdp-forms
          docker save -o cdp-organisation-app.tar cabinetoffice/cdp-organisation-app
          docker save -o cdp-organisation.tar cabinetoffice/cdp-organisation
          docker save -o cdp-person.tar cabinetoffice/cdp-person
          docker save -o cdp-tenant.tar cabinetoffice/cdp-tenant
          docker save -o cdp-authority.tar cabinetoffice/cdp-authority
      - name: Upload Docker Images
        uses: actions/upload-artifact@v4
        with:
          name: docker-images
          path: |
            cdp-organisation-information-migrations.tar
            cdp-data-sharing.tar
            cdp-forms.tar
            cdp-organisation-app.tar
            cdp-organisation.tar
            cdp-person.tar
            cdp-tenant.tar
            cdp-authority.tar

  docs:
    runs-on: ubuntu-latest
    name: Build documentation
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build
        run: cd docs && make build
      - name: Publish
        if: github.ref == 'refs/heads/main' && github.repository_owner == 'cabinetoffice'
        run: cd docs && make publish
      - name: Upload Documentation
        uses: actions/upload-artifact@v4
        with:
          name: Documentation
          path: docs/build/*
